@using System.Security.Claims

@model ASP_P15.Models.Home.ProfilePageModel

@{
    ViewData["Title"] = "Profile";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    String? avatar = Context
        .User
        .Claims
        .FirstOrDefault(c => c.Type == ClaimTypes.UserData)
        ?.Value;
    bool hasAvatar = !String.IsNullOrEmpty(avatar);
    char avatarLetter = (
        Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Name) ??
        Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)
    )?.Value.ToUpper()[0] ?? 'A';

    String userName = Context
        .User
        .Claims
        .FirstOrDefault(c => c.Type == ClaimTypes.Name)
        ?.Value ?? "Anonymous";

    String registered = Context
        .User
        .Claims
        .FirstOrDefault(c => c.Type == "User::Registered")
        ?.Value ?? "- - -";

    String email = Context
        .User
        .Claims
        .FirstOrDefault(c => c.Type == ClaimTypes.Email)
        ?.Value ?? "- - -";

    String birthdate = Context
        .User
        .Claims
        .FirstOrDefault(c => c.Type == ClaimTypes.DateOfBirth)
        ?.Value ?? "- - -";

    String feedbackCreated(DateTime date)
    {
        if (date.Date == DateTime.Now.Date)
        {
            return $"Сьогодні о {date.ToShortTimeString()}";
        }
        else if ((DateTime.Now.Date - date.Date).Days == 1)
        {
            return "Вчора";
        }
        return date.ToLongDateString();
    }
}

<div class="text-center">
    <h1 class="display-4">Кабінет користувача</h1>
</div>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-8 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-3 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    @if (hasAvatar)
                                    {
                                        <img class="img-radius" src="/Home/Download/@(avatar)" alt="avatar" />
                                    }
                                    else
                                    {
                                        <b class="img-radius avatar-letter">@avatarLetter</b>
                                    }
                                </div>
                                <h6 class="f-w-600" profile-editable="name">@userName</h6>
                                <p>З нами з @registered</p>
                                <i id="profile-edit" class="bi bi-pencil-square"></i>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-800">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400" profile-editable="email">@email</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Дата народження</p>
                                        <h6 class="text-muted f-w-400" profile-editable="birthdate">@birthdate</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Пароль</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Старий пароль</p>
                                        <h6 class="text-muted f-w-400" profile-editable="oldPassword">Введіть старий пароль</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Новий пароль</p>
                                        <h6 class="text-muted f-w-400" profile-editable="newPassword">Введіть новий пароль</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Відгуки</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Нещодавні</p>
                                        @if (Model.User.Feedbacks != null)
                                        {
                                            foreach (var feedback in Model.User.Feedbacks.Where(f => f.DeleteDt == null))
                                            {
                                                <div class="profile-feedback-container">
                                                    <div class="row">
                                                        <div class="col col-3">
                                                            <a asp-controller="Shop" asp-action="Product" asp-route-id="@feedback.Product!.Id" class="a-no-underline">
                                                                <img class="feedback-product-picture" src="/Home/Download/Shop_@(feedback.Product!.Image)" alt="Picture" />
                                                            </a>
                                                        </div>
                                                        <div class="col col-9">
                                                            <h6 class="text-muted f-w-400">
                                                                @for (int i = 0; i < feedback.Rate; ++i)
                                                                {
                                                                    <span class="bi bi-star-fill" style="color: gold;"></span>
                                                                }
                                                                @for (int i = 0; i < 5 - feedback.Rate; ++i)
                                                                {
                                                                    <span class="bi bi-star" style="color: gold;"></span>
                                                                } <br />
                                                                @feedback.Text <br />
                                                                @feedbackCreated(DateTime.FromBinary(feedback.Timestamp))
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <h6 class="text-muted f-w-400">
                                                Відгуків поки що немає
                                            </h6>
                                        }
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Скасовані</p>
                                        @if (Model.User.Feedbacks != null)
                                        {
                                            foreach (var feedback in Model.User.Feedbacks.Where(f => f.DeleteDt != null))
                                            {
                                                <div class="row profile-feedback-container">
                                                    <div class="col col-3">
                                                        <a asp-controller="Shop" asp-action="Product" asp-route-id="@feedback.Product!.Id" class="a-no-underline">
                                                            <img class="feedback-product-picture" src="/Home/Download/Shop_@(feedback.Product!.Image)" alt="Picture" />
                                                        </a>
                                                    </div>
                                                    <div class="col col-7">
                                                        <h6 class="text-muted f-w-400">
                                                            @for (int i = 0; i < feedback.Rate; ++i)
                                                            {
                                                                <span class="bi bi-star-fill"></span>
                                                            }
                                                            @for (int i = 0; i < 5 - feedback.Rate; ++i)
                                                            {
                                                                <span class="bi bi-star"></span>
                                                            } <br />
                                                            @feedback.Text <br />
                                                            @($"{feedback.DeleteDt}")
                                                        </h6>
                                                    </div>
                                                    <div class="col col-2">
                                                        <button class="btn btn-outline-primary" data-feedback-id="@feedback.Id" data-role="feedback-recovery"><i class="bi bi-arrow-repeat"></i></button>
                                                    </div>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <h6 class="text-muted f-w-400">
                                                Видалених відгуків поки що немає
                                            </h6>
                                        }
                                    </div>
                                </div>
                                <ul class="social-link list-unstyled m-t-40 m-b-10">
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
                                </ul>
                                <div class="row">
                                    <div class="col offset-8">
                                        <button class="btn btn-danger" id="profile-delete">Видалити</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
