@using System.Security.Claims

@model ASP_P15.Models.Shop.ShopProductPageModel
@{
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
    String? userId = Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid)?.Value;
    int avgFeedback = 0;
    double sum = 0;
    double amount = 0;

    foreach (var feedback in Model.Product.Feedbacks)
    {
        sum += feedback.Rate;
        amount++;
    }

    if (amount == 0) avgFeedback = 0;
    else avgFeedback = (int)Math.Round(sum / amount);
}

<div class="row">
    <div class="col col-sm-6 col-xl-4">
        <img class="product-picture" src="/Home/Download/Shop_@(Model.Product.Image)" alt="Picture" />
    </div>
    <div class="col col-sm-4 col-xl-4">
        <h1>@Model.Product.Name</h1>
        <p>@Model.Product.Description</p>
        <h2>₴ @Model.Product.Price.ToString("F2")</h2>
        <h5>
            @for (int i = 0; i < avgFeedback; ++i)
            {
                <span class="bi bi-star-fill" style="color: gold;"></span>
            }
            @for (int i = 0; i < 5 - avgFeedback; ++i)
            {
                <span class="bi bi-star" style="color: gold;"></span>
            }
        </h5>
        <button class="btn btn-outline-success" data-product-id="@Model.Product.Id" data-user-id="@userId" data-role="add-to-cart"><i class="bi bi-cart3"></i> До кошику</button>

        <div class="row scroll">
            <b>Відгуки про товар:</b>
            @if (Model.Product.Feedbacks.Count() == 0)
            {
                <i>Відгуків поки що немає</i>
            }
            else
            {
                <div class="product-feedback-container">
                    @foreach (var feedback in Model.Product.Feedbacks)
                    {
                        bool isMine = isAuthenticated && feedback.User?.Id.ToString() == userId;
                        String myClass = isMine ? "my-product-feedback" : String.Empty;

                        <div class="product-feedback @myClass">
                            <b>@(feedback.User?.Name ?? "Анонімно")</b>
                            <i>@DateTime.FromBinary(feedback.Timestamp).ToShortDateString()</i>
                            <p data-feedback-id="@feedback.Id" data-role="feedback-text">@feedback.Text</p>
                            <div class="d-flex justify-content-between">
                                <div data-feedback-id="@feedback.Id" data-role="feedback-rate" data-value="@feedback.Rate">
                                    @for (int i = 0; i < feedback.Rate; ++i)
                                    {
                                        <span class="bi bi-star-fill"></span>
                                    }
                                    @for (int i = 0; i < 5 - feedback.Rate; ++i)
                                    {
                                        <span class="bi bi-star"></span>
                                    }
                                </div>
                                @if (isMine)
                                {
                                    <div>
                                        <button class="btn btn-outline-warning" data-feedback-id="@feedback.Id" data-role="feedback-edit"><i class="bi bi-pencil-square"></i></button>
                                        <button class="btn btn-outline-danger" data-feedback-id="@feedback.Id" data-role="feedback-delete"><i class="bi bi-x-square"></i></button>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="col col-sm-2 col-xl-4">
        <div class="d-flex justify-content-center">
            @if (isAuthenticated)
            {
                <div class="product-feedback-add-container">
                    <b id="product-feedback-title">Додати відгук:</b>
                    <input class="form-control" type="number" id="product-feedback-rate" value="5" min="1" max="5" />
                    <textarea class="form-control" id="product-feedback" data-user-id="@userId" data-timestamp="@DateTime.Now.Ticks" data-product-id="@Model.Product.Id"></textarea><br />
                    <button id="product-feedback-button" class="btn btn-outline-info">Надіслати</button>
                </div>
            }
        </div>
    </div>
</div>

<h3>Вас також може зацікавити</h3>

<div class="row">
    @foreach (var product in Model.ProductGroup.Products.Where(p => p != Model.Product).Take(5))
    {
        <div class="col-sm-2 col-xl-1">
            <a asp-action="Product" asp-route-id="@(product.Slug ?? product.Id.ToString())" class="a-no-underline">
                <div class="product-row-item">
                    <div class="image-container">
                        <img src="/Home/Download/Shop_@(product.Image)" alt="Picture" />
                    </div>
                    <p>@product.Name <br /> ₴@product.Price</p>
                    <div class="product-description">
                        <p>@product.Description</p>
                    </div>
                </div>
            </a>
        </div>
    }
   </div>